<!DOCTYPE html>
<html ng-app="app">
	<head>
		<title>final project</title>
		<link rel="stylesheet" href="css/style.css" />
	</head>
	<body>
		<div id="animalId" ng-controller="animalId"><hr />
			<input placeholder="name..." ng-model="name"/><hr />
			<input placeholder="age..."  ng-model="age"/><hr />
			<input placeholder="breed..."  ng-model="breed"/><hr />
			<input placeholder="location..."  ng-model="location"/><hr />
			<input type="file" name="pic" accept="image/*" ng-model="file"><hr />
			<button ng-click="send()">send</button><hr />
		</div>
		
		<script src="js/angular (1).js"></script>
		<script src="app/config.js"></script>
		<script src="app/controllers/form.js"></script>
	</body>
</html>